<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dabeeo.hangouyou"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dabeeo.hangouyou.IntroActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dabeeo.hangouyou.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- MainMenu Activities -->
        <activity
            android:name="com.dabeeo.hangouyou.activities.mainmenu.FamousPlaceActivity"
            android:label="@string/term_famous_place"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mainmenu.PlaceDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mainmenu.WriteReviewActivity"
            android:label="@string/term_write_review"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mainmenu.RecommendSeoulActivity"
            android:label="@string/term_recommend_seoul"
            android:screenOrientation="portrait" />
        <!-- MyPage Sub Activities -->
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.MySchedulesActivity"
            android:label="@string/term_my_schedule"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.MyScheduleDetailActivity"
            android:label="@string/term_my_schedule"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.MyPlaceActivity"
            android:label="@string/term_my_place"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.MyPlaceDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.MyPhotoLogListActivity"
            android:label="@string/term_my_photolog"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.MyPhotoLogDetailActivity"
            android:label="@string/term_my_photolog"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.NewAndEditPhotoLogActivity"
            android:label="@string/term_my_photolog"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.MyBookmarkActivity"
            android:label="@string/term_my_bookmark"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- Sub Activities -->
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.GuideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.AgreementActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.MyPageSettingActivity"
            android:label="@string/term_setting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.VersionActivity"
            android:label="@string/term_version_info"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.NoticeActivity"
            android:label="@string/term_notice"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.PhotoSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.SearchResultDetail"
            android:screenOrientation="portrait" />
    </application>

</manifest>