<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dabeeo.hangouyou"
    android:versionCode="16"
    android:versionName="1.2.4" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dabeeo.hangouyou.IntroActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dabeeo.hangouyou.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- MainMenu Activities -->
        <activity
            android:name="com.dabeeo.hangouyou.activities.mainmenu.SubwayActivity"
            android:label="@string/term_famous_place"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mainmenu.SubwayStationsActivity"
            android:label="@string/term_famous_place"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mainmenu.FamousPlaceActivity"
            android:label="@string/term_famous_place"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mainmenu.PlaceDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mainmenu.WriteReviewActivity"
            android:label="@string/term_write_review"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.travel.TravelStrategyActivity"
            android:label="@string/term_strategy_seoul"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.travel.TravelSchedulesActivity"
            android:label="@string/term_travel_schedule"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.travel.TravelScheduleDetailActivity"
            android:label="@string/term_travel_schedule"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.trend.TrendActivity"
            android:label="@string/term_trend_korea"
            android:screenOrientation="portrait" />
        <!-- Recommend Schedule -->
        <activity
            android:name="com.dabeeo.hangouyou.activities.schedule.RecommendScheduleActivity"
            android:label="@string/term_recommend_travel_schedule"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.schedule.RecommendScheduleCompeletedActivity"
            android:label="@string/term_recommend_schedule_compeleted"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.schedule.CalendarActivity"
            android:label="@string/term_select_date"
            android:screenOrientation="portrait" />
        <!-- Trend -->
        <activity
            android:name="com.dabeeo.hangouyou.activities.trend.TrendProductWithCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.trend.TrendExhibitionActivity"
            android:label="@string/term_exhibitions"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.trend.TrendSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.trend.TrendProductDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- MyPage Sub Activities -->
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.PromotionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.ReviewDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.AccountSettingActivity"
            android:label="@string/term_profile"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.LoginActivity"
            android:label="@string/term_login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.ChangePasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.FindPasswordActivity"
            android:label="@string/term_find_password"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.JoinActivity"
            android:label="@string/term_join"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.MySchedulesActivity"
            android:label="@string/term_my_schedule"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.MyScheduleDetailActivity"
            android:label="@string/term_my_schedule"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.MyPlaceActivity"
            android:label="@string/term_my_place"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.MyPlaceDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.AuthEmailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--
             <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.MyPhotoLogListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        -->
        <!--
             <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.MyPhotoLogDetailActivity"
            android:label="@string/term_my_photolog"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        -->
        <!--
             <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.NewAndEditPhotoLogActivity"
            android:label="@string/term_my_photolog"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name="com.dabeeo.hangouyou.activities.mypage.sub.MyBookmarkActivity"
            android:label="@string/term_my_bookmark"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- Sub Activities -->
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.ImagePopUpActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.ImagePopUpJustOneActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.GuideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.AgreementActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.SettingActivity"
            android:label="@string/term_setting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.VersionActivity"
            android:label="@string/term_version_info"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.NoticeActivity"
            android:label="@string/term_notice"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.PhotoSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.sub.SearchResultDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.travel.TravelStrategyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.ticket.TicketActivity"
            android:label="@string/term_ticket"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.ticket.TicketDetailActivity"
            android:label="@string/term_ticket"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.ticket.BoughtTicketDetailActivity"
            android:label="@string/term_show_bought_ticket"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.ticket.TicketCheckoutActivity"
            android:label="@string/term_order_sheet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.ticket.TicketOrderCompleteActivity"
            android:label="@string/term_order_completed"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.coupon.CouponActivity"
            android:label="@string/term_coupon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.coupon.CouponDetailActivity"
            android:label="@string/term_show_coupon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.activities.coupon.DownloadedCouponDetailActivity"
            android:label="@string/term_show_coupon"
            android:screenOrientation="portrait" />

        <!-- Map -->
        <activity
            android:name="com.dabeeo.hangouyou.map.BlinkingMap"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dabeeo.hangouyou.map.PremiumdetailTemp"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>